.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease, display 0.3s ease allow-discrete;
  z-index: 10;
}

.backdrop.visible {
  display: block;
  opacity: 0.5;
  @starting-style {
    opacity: 0;
  }
}

.page-content {
  max-width: 600px;
  height: 100vh;
  overflow: hidden;
  padding-top: 45px;
  margin: auto;
}

.page-wrap::-webkit-scrollbar, .page-wrap-listing::-webkit-scrollbar {
  display: none;
}

.page-wrap {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: auto;
  padding:15px 15px 15px;
}

.page-wrap.listing {
  height: calc(100vh - 220px);
}

.page-wrap.full {
  height: calc(100vh - 50px);
}

.menu-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap:20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.menu-card {
  position: relative;
  width: 45%;
  height: 80px;
  font-size: 12px;
  border:solid 1px #d7d7d7;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-card > .badge {
  position: absolute;
  top:-4px;
  right:-4px;
}

.menu-card > .icon-badge {
  width:38px;
  height: 38px;
  padding:10px;
  background-color: #ededed;
  border-radius: 50%;
}

.menu-card > .menu-text {
  padding-left: 10px;
}

.more-menu {
  width:70px;
  position: fixed;
  bottom: 120px;
  right: -80px;
  padding:5px;
  background-color: #667c89fa;
  border-radius: 10px;
}

.more-menu.run-out {
  transition: right 0.3s ease-in-out;
  right: -110%;
}

.more-menu.run-in {
  transition: right 0.3s ease-in-out;
  right: 10px;
}

.btn-close {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color:#979797;
  background-color: #06060633;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-header {
  height: 46px;
  width:100vw;
  overflow: hidden;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

li {
  list-style-type: none;
}

.active > a , .active > a:hover {
	background: none;
}

.pg-summary {
  position: fixed;
  left: 0;
  bottom: 74px;
  height: 40px;
  background-color: black;
  color:white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pg-summary.pg-top {
  top:45px !important;
}

.pg-summary-inner {
  width: 100%;
  max-width: 600px;
  padding:5px 15px;
}

.pg-summary-content {
  width:100%;
}

.summary-text {
  float: left;
}


.pg-footer {
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 5px 10px 15px;
  background-color:#607D8B;
}

.pg-footer-content {
		/* position: fixed; */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
		line-height: 20px;
    display: flex;
    justify-content: space-between;
}


.footer-menu {
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
  cursor: pointer;
}

.pg-icon {
  min-width: 60px;
  padding:5px;
  text-align: center;
  border-radius: 10px;
}

.pg-icon:hover {
  background-color:#738d99;
}

.footer-menu span {
	display:block;
	font-size: 11px;
	color:white;
}

.footer-menu.active > .pg-icon {
  background-color:#738d99;
}

.table-process {
  min-width:1240px;
}

.table-listing {
  min-width:1040px;
}


.nav-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  padding:10px 5px;
  font-size:16px;
  text-align: center;
  border-bottom: solid 1px #ccc;
  background-color: white;
  width: 100%;
  z-index: 10;
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav-title-center {
  color:white;
  background-color: #438eb9;
  border:0;
}

.nav-title-center > a {
  width: 45px;
  color:white;
  position: absolute;
  left:0;
  cursor: pointer;
}


.nav-title-right > a {
  width: 45px;
  position: absolute;
  left:0;
  cursor: pointer;
}

.nav-title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color:white;
  background-color: #438eb9;
  border:0;
}



.header-info-row {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:5px;
  margin-bottom: 10px;
}

.header-info-icon {
  position: fixed;
  top:10px;
  right:10px;
  width: 25px;
  height: 25px;
  border:solid 2px white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fi {
  margin-bottom: 10px;
}

.help-block {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tab-content {
  margin-top:-30px;
}

.input-group > span.input-group-addon {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.input-group > input.form-control {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.input-group > select.form-control {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.input-group > input.from-date {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}


#fromDate, #toDate {
  z-index: 11;
}

.filter-pad {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  box-shadow: #20202021 1px 0px 5px 1px;
  z-index: 10;
  padding: 45px 0px 0px 0px;
  overflow: auto;
}

/* xs */
@media (max-width:767px) {
  .filter-pad, .extra-menu {
    width:100vw;
  }
}

/* sm */
@media (min-width: 768px) {
  .filter-pad {
    width:300px;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .filter-pad {
    width: 300px;
  }
}

/* lg */
@media (min-width: 1200px) {
  .filter-pad {
    width: 300px;
    left:0px !important;
  }
}

.right-out {
  transition: right 0.4s ease-in-out;
  right: -110% !important;
}

.right-in {
  transition: right 0.4s ease-in-out;
  right:0 !important;
}


.left-out {
  transition: left 0.4s ease-in-out;
  left:-110%;
}

.left-in {
  transition: left 0.4s ease-in-out;
  left:0px;
}

.move-out {
  transition: left 0.4s ease-in-out;
  left:-110% ;
}

.move-in {
  transition: left 0.4s ease-in-out;
  left:0px;
}

.user-menu {
  width: 80vw;
  position: fixed;
  left:10vw;
  bottom: 150px;
  padding: 8px 8px 0px;
  background-color: #ffffffed;
  border-radius: 10px;
  box-shadow: #20202021 -2px 0px 5px 2px;
  z-index: 11;
}

.extra-menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 68px;
  padding: 8px;
  line-height: 20;
  background-color: #000000;
  z-index: 11;
}

.slide-out {
  transition: bottom 0.5s ease-in-out;
  bottom: -250px;
}

.slide-in {
  transition: bottom 0.5s ease-in-out;
  bottom: 150px;
}

.no-border-xs {
  border:0px !important
}

.margin-bottom-3 {
  margin-bottom: 3px !important
}

.pre-wrap {
  white-space: normal;
}

.btn-scroll-up.display {
  bottom:80px;
}

.list {
  padding: 10px;
}

.list-block {
  width: 100%;
  min-height: 40px;
  background-color: #f5f7fa;
  border: solid 1px #dddddd;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
  cursor: pointer;
}


.list-block.closed {
  background-color: #f4ffe7 !important;
}

.list-block.picking {
  background-color: #b9e8ff !important;
}

.list-block.canceled {
  background-color: #c5c4c4 !important;
}

.list-block.release {
  background-color: #f0d9ff !important;
}

.list-block.active {
  border:solid 1px #2196f3;
  background-color: #dff1ff !important;
}

.list-link {
  text-decoration: none;
  position: relative;
  width: 100%;
  min-width: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #434a54;
  line-height: 1.5;
}

.list-link-inner {
  display: flex;
  align-items: center;
}

.list-link-inner > .no {
  width:35px;
  height: 30px;
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.closed {
  background-color: #8BC34A !important;
}

.shipped {
  background-color: #b0d3ff !important;
}

.canceled {
  color: white;
  background-color: #757575 !important;
}

.draft {
  background-color: #ffffff !important;
  border: solid 1px #dddddd;
}

.release {
  background-color: #e0b0ff !important;
}

.picking {
  background-color: #b0d3ff !important;
}

.form-control {
  border-radius: 5px !important;
}

input.form-control {
  border-radius: 5px !important;
}

.input-group .form-control:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important
}

.btn {
  border-radius: 5px !important;
}

.select2-container.form-control {
  padding:0 !important;
  border:0;
}

.select2-container .select2-choice {
  height: 37px;
  line-height: 34px;
  border-radius: 5px;
  border:1px solid #d5d5d5;
  background:#ffffff;
  color:#858585;
}

.select2-container-active.select2-dropdown-open .select2-choice {
  background: none;
}

.select2-drop {
  border-radius: 0;
  border:1px solid #d5d5d5;
  border-width: 0 1px 3px;
}

.paginater {
  width: 100vw;
  position: fixed;
  left: 0;
  transition: bottom 0.3s ease-in-out;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px -2px 5px 0px #cccccc50;
  border-top: solid 1px #ccc;
  background-color: white;
}

.paginater.open {
  transition: bottom 0.3s ease-in-out;
  bottom: 75px;
}

.paginater-toggle {
  width: 40px;
  height: 25px;
  border: solid 1px #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  right: 5px;
  background-color: white;
}
